@mixin unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  /*
    Introduced in Internet Explorer 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;
}

.rkn-flex {
  display: flex;
}

.rkn-reset {
  all: unset;
}

input[type="text"],
input[type="number"] {
  all: unset;
  border: 1px solid black;
  padding: 5px;
  box-sizing: border-box;

  &:hover {
    border-color: gray;
  }
}

button {
  all: unset;
  border: 1px solid black;
  padding: 5px 10px;
  box-sizing: border-box;

  &:hover {
    // border-color: gray;
    // color: gray;
    text-decoration: underline;
    cursor: pointer;
  }
}
